backend/texttospeech-427216-5880634db723.json
frontend/tts-react-app/node_modules
frontend/tts-react-app/build
frontend/tts-react-app/.pnp
frontend/tts-react-app/.pnp.js
frontend/tts-react-app/coverage
frontend/tts-react-app/.DS_Store
frontend/tts-react-app/.env.local
frontend/tts-react-app/.env.development.local
frontend/tts-react-app/.env.test.local
frontend/tts-react-app/.env.production.local
frontend/tts-react-app/npm-debug.log*
frontend/tts-react-app/yarn-debug.log*
frontend/tts-react-app/yarn-error.log*